// make avatars square
img.avatar {
    border-radius: 2px;
    box-shadow: 0px 0px 1px 0px rgba(170, 170, 170, 1);
    background-color: #1d1f21;
}
.card-avatar-placeholder {
    border-radius: 2px;
    background-color: #1d1f21;
}

.title {
    font-weight: bold;
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification),
#topic-title h1 a {
    color: $tertiary;
}

// .topic-list-item.visited span.badge-category,
// .latest-topic-list-item.visited span.badge-category,
// .category-topic-link.visited span.badge-category {
//     color: darken($quaternary, 15%);
// }

// add underlines to the links
.cooked a {
    border-bottom: 1px solid darken($tertiary, 30%);

    &:hover {
        border-bottom: 2px solid $highlight;
    }
}

.post-links-container {
    ul li a[href] {
        color: $tertiary;
    }
    ul li a[href]:hover {
        text-decoration: underline;
        color: lighten($tertiary, 15%);
    }
}

// .link-bottom-line {
//     a.bullet:hover,
//     a.badge-wrapper:hover {
//         color: $highlight !important;
//     }
// }

.views {
    display: none;
}

// make the box shadow darker in order to distinguish its edges from the background
.user-card,
.group-card {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.55);
}
